.h1log {
    color: green;
    text-align: center;
  }
.plog{
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.card_log{
    text-align: center;
}
.form-group{
    text-align: center;
}

.form-control{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
.form-text{
    text-align:center;
}
.card{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;

}
