.nav-link {
    color: white;
  }

  .nav-link:hover {
    color: white;
    background-color: darkorange;
    font-style: italic;
    font-weight: bold;
  }
  
  .nav-link:focus {
    color: white;
    background-color: green;
  }
  .p_nav{
    color:white;
    background-color: orange;
    font-size: large;
    font-weight:500;
    font-style: italic;
    text-align: center;
  }

  .p_nav_2{
    color:white;
    font-size: large;
    font-weight:500;
    font-style: italic;
    text-transform: uppercase;
  }

  .p_nav3{
    color:green;
    background-color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
  }